<div class="animate-icons-background ng-scope" style="background: url(assets/images/mdil.png) 0 0 #6E549B;cursor:pointer;">
  <a href="http://ura.org.ua/" target="_blank">
  <img src="assets/images/bannermdil.svg" style="width:100%">
  </a>
</div>
<md-toolbar color="primary">

    <button md-button routerLink="/">
    <md-icon>home</md-icon> 
        {{title}}</button>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <div *ngIf="isLogged();then logged else logout">here is ignored</div>

    <ng-template #logged>
            <md-card-header>
                    <div  class="mat-card-header-text">
                      <md-card-title fxLayout  fxLayoutAlign="space-between stretch">
                        <div mat-card-avatar class="header-image"></div>
                        {{ Name }}
                        </md-card-title>
              </div>
         </md-card-header>
                
                <button md-button [md-menu-trigger-for]="menu" >
                    <md-icon>menu</md-icon>
                                 </button>

                     <md-menu x-position="before" #menu="mdMenu">
                       <button md-menu-item routerLink="/profile">Profile</button>
                       <button md-menu-item  (click)="logoutnow()" >Logout
                       </button>
                   </md-menu>
             <md-menu x-position="before" #menu="mdMenu">
               <button md-menu-item routerLink="/profile">Profile</button>
               <button md-menu-item  (click)="logoutnow()" >Logout
                       </button>
          
            </md-menu> 
        </ng-template>
    <ng-template #logout>
         <div fxLayout="row" fxShow="false" fxShow.gt-sm >
           <button md-button routerLink="/login">Login</button>
           <button md-button routerLink="/signup">SignUp</button>
         </div>
         <button md-button [md-menu-trigger-for]="menu" >
         <md-icon>menu</md-icon>
         </button>


    <md-menu x-position="before" #menu="mdMenu">
         <button md-menu-item routerLink="/login">Login</button>
         <button md-menu-item routerLink="/signup">SignUp</button>
     </md-menu>
    </ng-template>
   </md-toolbar>
    
   

