.header-image {
  background-image: url('../../../../assets/images/avatar.svg');
  background-size: cover;
}
.icon {
  padding: 0 14px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
@keyframes animatedBackground {
    0% { background-position: 0 -16px; }
    50% { background-position: -780px -16px; }
    100% { background-position: 0 -16px; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 -16px; }
    50% { background-position: -780px -16px; }
    100% { background-position: 0 -16px; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 -16px; }
    50% { background-position: -780px -16px; }
    100% { background-position: 0 -16px; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 -16px; }
    50% { background-position: -780px -16px; }
    100% { background-position: 0 -16px; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 -16px; }
    50% { background-position: -780px -16px; }
    100% { background-position: 0 -16px; }
}

.animate-icons-background {
    animation: animatedBackground 50s linear infinite;
    -moz-animation: animatedBackground 50s linear infinite;
    -webkit-animation: animatedBackground 50s linear infinite;
    -ms-animation: animatedBackground 50s linear infinite;
    -o-animation: animatedBackground 50s linear infinite;
}
