   <md-card class="demo-card demo-basic">
  <md-toolbar color="primary">{{what_to_do}} Session at {{title}}</md-toolbar>
  <div md-dialog-content>
    
    <form [formGroup]="rForm" (ngSubmit)="addSession(rForm.value)">
     <p></p>
         <md-input-container class="full-width">
          <input mdInput formControlName="eventid" placeholder="Event Id " >
         </md-input-container>
          <p>
           <md-input-container class="full-width">
               <input mdInput formControlName="title" placeholder="title" >
           </md-input-container>
         </p>
     
        <md-input-container class="full-width" color="primary">
           <textarea mdInput formControlName="description" placeholder="description" ></textarea>
        </md-input-container>  
    <p>
      <md-input-container>
      <input mdInput formControlName="start" placeholder="Start time" [ngModel]="momentStart | date: 'short'" [(dateTimePicker)]="momentStart" readonly />
     </md-input-container>
    </p>
    <p>
    <md-input-container>
      <input mdInput formControlName="end" placeholder="End time" [ngModel]="momentValue | date: 'short'" [(dateTimePicker)]="momentValue" readonly />
     </md-input-container>
   </p>
               
      <button color="primary" md-raised-button type="Submit" [disabled]="!rForm.valid" >{{what_to_do}} Session</button>
      <button type="button" md-button 
            (click)="dialogRef.close(this.isAdded)">Cancel</button>
    </form>
 
  </div >
</md-card>

    

       
          
