
<md-card class="basic">
  <md-toolbar color="primary">Log-in </md-toolbar>
  <md-card-content>
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
     <p></p>
        
    <p>
        <md-input-container  >
         
        <input mdInput placeholder="Email Address" formControlName="email" > 
         <span mdPrefix><md-icon >email</md-icon>&nbsp;</span>
        <md-error *ngIf="rForm.controls.email.invalid">
          Please enter a valid email address
        </md-error>
      </md-input-container>
    
    </p>

    
    <p>
      <md-input-container >
        <input mdInput  type="password" placeholder="Password" formControlName="password"  required> 
         <span mdPrefix><md-icon >lock</md-icon>&nbsp;</span>
       <md-error *ngIf="rForm.controls.password.invalid">
          Please enter a valid password (UpperCase, lowercase and number)
        </md-error>
       </md-input-container>
    </p>
    
    
      <button color="primary" md-raised-button type="submit" [disabled]="!rForm.valid" >Submit</button>
    </form>
  </md-card-content>
</md-card>



