
 

<h2 md-dialog-title> {{this.eventData?.data.name}} {{this.eventData?.data.title__c}}</h2>
 <h2 md-dialog-title> start : {{this.eventData?.data.startdatetime__c | date:"MM/dd/yy HH:mm"}}
  finish : {{this.eventData?.data.enddatetime__c | date:"MM/dd/yy HH:mm" }} </h2>
<md-card>
    <md-card-content>
  <md-grid-list cols="3">
   <md-grid-tile [style.border-right]="'1px dashed #ddd'">
     <p>Registration Limit:  {{this.eventData?.data.registration_limit__c}} </p>
   </md-grid-tile>
   <md-grid-tile [style.border-right]="'1px dashed #ddd'">
     <p> Remainig seats :  {{this.eventData?.data.remaining_seats__c}}  </p>
   </md-grid-tile>
   <md-grid-tile>
    <p>Status:  {{this.eventData?.data.status__c}} </p>
   </md-grid-tile>
  </md-grid-list>
  </md-card-content>
</md-card>

    <md-dialog-content>
       <md-card>
             <md-card-content>
               <div [innerHtml]="this.eventData?.data.description__c"> </div> 
              </md-card-content>
       </md-card>
      <p>
      
      </p>
    </md-dialog-content>
 <div style="height: 40px;"></div>
  <div class="container">
        <div class="sw">
 <form  [formGroup]="filterGroup"  role="search">
             <button class="go">
               <md-icon  md-list-icon > search </md-icon>&nbsp;
             </button>
          
              <input type="text" class="search" formControlName="filterQuery"
                                         [(ngModel)]="filterQuery2"  placeholder="Search your sessions (pipe used)...">
            
      </form>
    </div>
   </div>
 <div style="height: 40px;"></div>
<ng2-md-datatable [selectable]="true" (selectionChange)="onNotify($event)" >
  <ng2-md-datatable-header>
    <ng2-md-datatable-column sortableValue="id">Id SESSION</ng2-md-datatable-column>
    <ng2-md-datatable-column sortableValue="title">TITLE</ng2-md-datatable-column>
    <ng2-md-datatable-column sortableValue="start">START</ng2-md-datatable-column>
    <ng2-md-datatable-column sortableValue="end">END</ng2-md-datatable-column>
    
   
  
  </ng2-md-datatable-header>
  <tbody>
     
    <ng2-md-datatable-row   *ngFor="let item of myData| dataFilter: filterQuery2; let i = index" [selectableValue]="item.id" >
      <td>{{item.id}}</td>
      <td>{{item.subject__c}}</td>
      <td>{{item.startdatetime__c | date:"MM/dd/yy HH:mm" }}</td>
      <td>{{item.enddatetime__c | date:"MM/dd/yy HH:mm"}}</td>
      
            
    </ng2-md-datatable-row>
   </tbody>
  </ng2-md-datatable>

<ng2-md-datatable-pagination
  [currentPage]="1"
  [itemsPerPage]="itemsPerPage"
  [itemsCount]="totalRowsCount"
  [itemsPerPageChoices]="[50]"
  [itemsPerPageFirstChoice]="50"

  [needShowFirstArrow]="true"
  [needShowLastArrow]="true"
  ofText="of"
  rowsPerPageText="Rows per page:"
  >
</ng2-md-datatable-pagination>

<md-card-actions>
         <div class="container">       
              <button md-raised-button centered
               color="primary"
                (click)="attendee_dialog()"
                >
                Hold My Seat
             </button>
    
    <div *ngIf="isLogged();then logged">here is ignored</div>
    <ng-template #logged>
         <ng2-float-btn [mainButton]="mainButton" [buttons]="buttons" [isMini]="true" [direction]="'right'">
            <div style="z-index:400; position: absolute; bottom: 0;">
                <ng2-float-btn [mainButton]="mainButton" [buttons]="buttons"  [direction]="'up'">
                </ng2-float-btn>
           </div>
       </ng2-float-btn>
    </ng-template>                
 </div>
     
        
</md-card-actions> 
      
      
   
 
