@import '~ng2-md-datatable/datatable-theme';

//@include mat-core();

$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-deep-orange);
$warn: mat-palette($mat-amber);

$theme: mat-light-theme($primary, $accent, $warn);

@include mat-datatable-theme($theme);


$blue: #1656bc;
$whiteColor: #ffffff;

md-icon.searching { color: $whiteColor; }

*, div {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #e8eaf6;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: block;
  width: 70%;
  margin: 20px auto 0 auto;
  background: #fff;
  height: 15vh;
}

.sw {
  float: left;
  width: 100%;
  height: 80px;
  background: $blue;
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 0 0px rgba(#000,.1);

  
  form {
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  
  .search {
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
    &:focus {
      height: 80px;
      margin-left: -15px;
      padding: 10px 15px;
      + .go {
        height: 80px;
        margin-right: -15px;
        max-width: 80px; // Prevent icon from moving
        color: $blue;
        + .md-icon {
          visibility: hidden;
          opacity: 0;
          max-width: 0px;
          margin-right: 0;
        }
      }
    }
  }
  
  .go {
    flex: 1 1 auto;
    order: 3;
    max-width: 50px;
    display: inline-block;
    border: none;
    background: #fff;
    color: #ccc;
    height: 50px;
    transition: all 0.05s ease-in-out;
    font-size: 21px;
    outline: none;
  }
}
