   <md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Attendee on {{title}}</md-toolbar>
  <div md-dialog-content>
    
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
     <p></p>
         <md-input-container class="full-width">
        <input mdInput formControlName="eventid" placeholder="Event Id (disabled)" >
      </md-input-container>
        <md-input-container class="full-width" color="primary">
      <textarea mdInput formControlName="sessions" placeholder="Sessions (disabled)" ></textarea>
    </md-input-container>   

      <table style="width: 100%" cellspacing="0"><tr>
        <td>
          <md-input-container style="width: 100%"  >
            <input mdInput #firstname formControlName="firstname" placeholder="First name" required minLength="4"  >
            <md-error>This field is required</md-error>
            <md-hint align="end" aria-live="polite">{{firstname.value.length}} / 50</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container style="width: 100%">
            <input mdInput #lastname formControlName="lastname" placeholder="Last Name" required maxLength="50"  >
            <md-error>This field is required</md-error>
            <md-hint align="end" aria-live="polite">{{lastname.value.length}} / 50</md-hint>
            </md-input-container>
        </td>
      </tr></table>
    <p>
      <md-input-container class="demo-full-width">
        <input mdInput formControlName="company" placeholder="Company "  value="Google">
      </md-input-container>
    </p>
    <p>
        <md-input-container>
        <input mdInput placeholder="Email Address" formControlName="email" > 
         <span mdPrefix><md-icon >email</md-icon>&nbsp;</span>
          <md-error >
          Please enter a valid email address
        </md-error> 
      </md-input-container>
    
    </p>

     <p>
       
      <md-input-container>
        <input mdInput placeholder="Phone" formControlName="phone"  required> 
         <span mdPrefix><md-icon >phone</md-icon>&nbsp;</span>
        
        <md-error >
          Please enter a valid phone ( Format: +99(99)9999-9999 )
        </md-error>
      </md-input-container>
    </p>
           
      <button color="primary" md-raised-button type="submit" [disabled]="!rForm.valid" >Submit</button>
      <button type="button" md-button 
            (click)="dialogRef.close()">Cancel</button>
    </form>
 
  </div >
</md-card>

    

       
          
