<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Sign Up </md-toolbar>
  <md-card-content>
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
     <p></p>
       
      <table style="width: 100%" cellspacing="0"><tr>
        <td>
          <md-input-container style="width: 100%"  >
            <input mdInput #firstname formControlName="firstname" placeholder="First name" required minLength="4"  >
            <md-error>This field is required</md-error>
            <md-hint align="end" aria-live="polite">{{firstname.value.length}} / 50</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container style="width: 100%">
            <input mdInput #lastname formControlName="lastname" placeholder="Last Name" required maxLength="50"  >
            <md-error>This field is required</md-error>
            <md-hint align="end" aria-live="polite">{{lastname.value.length}} / 50</md-hint>
            </md-input-container>
        </td>
      </tr></table>
    <p>
      <md-input-container class="demo-full-width">
        <input mdInput formControlName="company" placeholder="Company "  value="Google">
      </md-input-container>
    </p>
    <p>
        <md-input-container>
        <input mdInput placeholder="Email Address" formControlName="email" > 
         <span mdPrefix><md-icon [>email</md-icon>&nbsp;</span>
          <md-error >
          Please enter a valid email address
        </md-error> 
      </md-input-container>
    
    </p>

      <p>
      <md-checkbox formControlName="hideRequiredMarker" [(ngModel)]="hideRequiredMarker">
        Do you want to receive letters from EventBrite?:</md-checkbox>
      <md-input-container [hideRequiredMarker]="hideRequiredMarker" style="width: 300px">
        <input mdInput
               required
               [placeholder]="hideRequiredMarker ?
                   'Yes' : 'No'">
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput #password type="password" placeholder="Password" formControlName="password"  required> 
         <span mdPrefix><md-icon >lock</md-icon>&nbsp;</span>
     
        <md-error >
          Please enter a valid password (UpperCase, lowercase and number)
        </md-error>
      </md-input-container>
    </p>
    
     <p>
       
      <md-input-container>
        <input mdInput placeholder="Phone" formControlName="phone"  required> 
         <span mdPrefix><md-icon >phone</md-icon>&nbsp;</span>
        
        <md-error >
          Please enter a valid phone ( Format: +99(99)9999-9999 )
        </md-error>
      </md-input-container>
    </p>
     
      <button color="primary" md-raised-button type="submit" [disabled]="!rForm.valid" >Submit</button>
    </form>
  </md-card-content>
</md-card>
