

  <h1 md-subheader>Events Upcoming ..</h1>
     
<md-card  *ngFor="let data of (myData ? myData.slice(this.getStartIndex(),
                  this.getStartIndex() + this.itemsPerPage):[]);let i=index"   >
  <md-card-header>
    <h4 md-line>#id{{data?.name}}&emsp;</h4> 
                <ng-template [ngIf]="data?.status__c==='Open'" item-right>
                  <md-icon   md-list-icon class="open">event_available</md-icon>
                </ng-template>
                <ng-template [ngIf]="data?.status__c==='Sold out'" item-right>
                  <md-icon md-list-icon class="soldout" >event_note</md-icon>
               </ng-template> 
                <ng-template [ngIf]="data?.status__c==='Close'" item-right>
                  <md-icon md-list-icon class="closed">event_available</md-icon>
                </ng-template>
                <ng-template [ngIf]="data?.status__c==='Draft'" item-right>
                  <md-icon md-list-icon class="draft" >event_note</md-icon>
               </ng-template> 
       <h4 md-line>{{data?.title__c}}</h4>
      
    </md-card-header>
    <md-card-content>
        <md-grid-list cols="2" rowHeight="2:1">
        <md-grid-tile>
              <md-card>
            <img md-card-image src="/assets/images/eventspic.jpg"> 
        </md-card>
        </md-grid-tile>
          <md-grid-tile>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                <p>Status:  {{data?.status__c}} </p>
                <p>Registration Limit:  {{data?.registration_limit__c}} </p>
                <p> Remainig seats :  {{data?.remaining_seats__c}}  </p>
                 <p>
                     <md-card-actions>
                      <a  md-raised-button centered
                       color="primary" 
                      (click)="goToDetails(data)"
                      >Learn more...
                    </a> 
                   </md-card-actions>
                 </p>
               </div>
             </md-list-item>
           </md-grid-tile>
       <md-grid-tile>
             <h3 md-line>start : {{data.startdatetime__c | date:"MM/dd/yy HH:mm"}}  </h3>

       </md-grid-tile>
        <md-grid-tile>
             <h3 md-line> finish : {{data.enddatetime__c | date:"MM/dd/yy HH:mm" }} </h3>
        </md-grid-tile>
</md-grid-list>
 </md-card-content>
 

</md-card>
 <md-card-actions> 
    <div class="mdt-footer layout-row" *ngIf="isEnabled()">
    <div class="mdt-pagination layout-align-end-center layout-row flex">
           <span class="layout-margin" style="margin-right:40px;">Rows per page:</span>


       <md-select  [(ngModel)]="itemsPerPage"  >
           <md-option *ngFor="let pageSize of rowsPerPage" [value]="pageSize">
               {{pageSize}}
          </md-option>
       </md-select>
    
        <span class="layout-margin" style="margin-right:32px;margin-left:32px;">
            {{getStartIndex()+1}} - {{getStartIndex() + itemsPerPage}}
            of {{totalRowsCount}}
        </span>

        
        <div style="margin-right:14px;">
            <md-icon md-list-icon class="material-icons"
               style="margin-right:24px;cursor: pointer;"
               [ngClass]="isPreviousButtonDisabled()"
               (click)="previousPage()">keyboard_arrow_left</md-icon>

            <i class="material-icons"
               style="cursor:pointer;"
               (click)="nextPage()"
               [ngClass]="isNextButtonDisabled()">keyboard_arrow_right</i>
        </div>
    </div>
</div>


  </md-card-actions>
  
    
   
 

 
