$whiteColor: #ffffff;

md-icon.open { color: #55cc4f; }
md-icon.draft { color: #d6cf08; }
md-icon.soldout { color: #FB8C00; }
md-icon.closed { color: #d63508; }
 
/* 56do for last row */
  .mdt-footer, tr th{
    height: 56px;

    .mdt-pagination{
      font-size: 12px;
      color: darken($whiteColor, 54%);

      md-input-container{
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
   /**
   * Flexbox polifyls
   *
   **/

  /*layout="row"*/
  .layout-row{
      display:flex;
      flex-direction:row
  }

  .layout-column{
    display:flex;
    flex-direction:column
  }

  /*layout-align="center"*/
  .layout-align-center{
      align-items: center;
  }

  /*layout-align="start"*/
  .layout-align-start{
      justify-content: start;
  }

  /*layout-align="start"*/
  .layout-align-start-center{
    justify-content: start;
    align-items: center;
  }
  /*layout-align="end"*/
  .layout-align-end-centerr{
    justify-content: end;
    align-items: center;
  }

  /**
   * For material design icons
   **/

  /* Rules for sizing the icon. */
  .material-icons.md-16 { font-size: 16px; }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  .md-unstyled-image img{
  max-width: 100%;
  width: auto;
  height: auto !important; /* needs to be important because md-card also sets it that way */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
